In [1]:
import pandas as pd

In [2]:
test=pd.read_excel('report_to_80.xlsx')

In [3]:
test.head()

,Unnamed: 0,종목명,is or not,현재가,시가총액,상장주식수,외국인비율,CEO Message,Materiality Assessment,SDGs,Unnamed: 10,# of report,# of sdgs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,51.0
1,1.0,삼성전자,1.0,76900.0,4590763.0,5969783.0,51.88,"Dear shareholders, customers, suppliers, and e...",We identify sustainability issues that impact ...,"3,4,5,6,7,8,9,10,12,13,15,17",NaN,NaN,NaN
2,2.0,SK하이닉스,1.0,107000.0,778963.0,728002.0,46.71,Even amidst the worldwide COVID-19 pandemic i...,SK hynix has identified a pool of ESG issues t...,"1,3,4,5,6,7,8,9,10,11,12,13,16",NaN,NaN,NaN
3,3.0,NAVER,1.0,403500.0,662803.0,164263.0,56.59,"Greetings,\nI am Seong-sook Han, the President...",Materiality Matrix\nTier 3 General issues\nTie...,"4,5,7,8,12,13,16",NaN,NaN,NaN
4,4.0,삼성바이오로직스,1.0,923000.0,610703.0,66165.0,10.59,"Dear fellow stakeholders, I would like to expr...",Samsung Biologics evaluated each issue based o...,"3,4,5,6,7,8,9,12,13,15,16",NaN,NaN,NaN

In [7]:
test[['종목명','SDGs']]

         종목명                            SDGs
0        NaN                             NaN
1       삼성전자    3,4,5,6,7,8,9,10,12,13,15,17
2     SK하이닉스  1,3,4,5,6,7,8,9,10,11,12,13,16
3      NAVER                4,5,7,8,12,13,16
4   삼성바이오로직스       3,4,5,6,7,8,9,12,13,15,16
..       ...                             ...
79      삼성증권                  4,8,9,12,13,16
80      아모레G                             NaN
81       한진칼         3,4,5,6,8,9,11,13,15,17
82     쌍용C&E                             NaN
83      두산밥캣      3,4,5,6,7,8,10,11,12,13,17

[84 rows x 2 columns]

In [8]:
test['종목명','SDGs']

KeyError: ('종목명', 'SDGs')

In [9]:
df=test[['종목명','CEO Message','Materiality Assessment','SDGs']]
df.head()

,종목명,CEO Message,Materiality Assessment,SDGs
0,NaN,NaN,NaN,NaN
1,삼성전자,"Dear shareholders, customers, suppliers, and e...",We identify sustainability issues that impact ...,"3,4,5,6,7,8,9,10,12,13,15,17"
2,SK하이닉스,Even amidst the worldwide COVID-19 pandemic i...,SK hynix has identified a pool of ESG issues t...,"1,3,4,5,6,7,8,9,10,11,12,13,16"
3,NAVER,"Greetings,\nI am Seong-sook Han, the President...",Materiality Matrix\nTier 3 General issues\nTie...,"4,5,7,8,12,13,16"
4,삼성바이오로직스,"Dear fellow stakeholders, I would like to expr...",Samsung Biologics evaluated each issue based o...,"3,4,5,6,7,8,9,12,13,15,16"

In [10]:
len(df)

84

In [11]:
df.dropna(how='any',axis=0,inplace=True)

<ipython-input-11-a829e89aba99>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(how='any',axis=0,inplace=True)

In [12]:
len(df)

51

In [13]:
df.head()

,종목명,CEO Message,Materiality Assessment,SDGs
1,삼성전자,"Dear shareholders, customers, suppliers, and e...",We identify sustainability issues that impact ...,"3,4,5,6,7,8,9,10,12,13,15,17"
2,SK하이닉스,Even amidst the worldwide COVID-19 pandemic i...,SK hynix has identified a pool of ESG issues t...,"1,3,4,5,6,7,8,9,10,11,12,13,16"
3,NAVER,"Greetings,\nI am Seong-sook Han, the President...",Materiality Matrix\nTier 3 General issues\nTie...,"4,5,7,8,12,13,16"
4,삼성바이오로직스,"Dear fellow stakeholders, I would like to expr...",Samsung Biologics evaluated each issue based o...,"3,4,5,6,7,8,9,12,13,15,16"
6,카카오,I would like to extend my heartfelt\ngratitude...,In publishing our first-ever Commitment and Re...,"4,7,8,12,13,16,17"

## SDGs 변환

In [14]:
df.SDGs.isnull().sum()

0

In [15]:
sdgs=df.SDGs.to_list()

In [16]:
len(sdgs)

51

In [17]:
data=[]

for i in sdgs:
    a=i.split(',')
    data.append(a)
data[:10]

[['3', '4', '5', '6', '7', '8', '9', '10', '12', '13', '15', '17'],
 ['1', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '16'],
 ['4', '5', '7', '8', '12', '13', '16'],
 ['3', '4', '5', '6', '7', '8', '9', '12', '13', '15', '16'],
 ['4', '7', '8', '12', '13', '16', '17'],
 ['4', '6', '7', '8', '9', '11', '12', '13', '16'],
 ['3', '5', '6', '7', '8', '9', '10', '12', '13', '15', '1617', ''],
 ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17'],
 ['1', '3', '5', '6', '7', '8', '10', '12', '13', '15'],
 ['1', '2', '3', '4', '5', '7', '8', '10', '12', '13', '16', '17']]

In [18]:
new_data=[]
for i in data:
    tmp=[]
    for j in range(0,17):
        if str(j+1) in i:
            tmp.append(1)
        else:
            tmp.append(0)
    new_data.append(tmp)

In [19]:
len(new_data)

51

In [20]:
df_sdg = pd.DataFrame(data=new_data, columns=["s1","s2","s3",
"s4","s5","s6","s7","s8","s9","s10","s11","s12","s13","s14","s15","s16","s17"])

In [21]:
df_sdg

    s1  s2  s3  s4  s5  s6  s7  s8  s9  s10  s11  s12  s13  s14  s15  s16  s17
0    0   0   1   1   1   1   1   1   1    1    0    1    1    0    1    0    1
1    1   0   1   1   1   1   1   1   1    1    1    1    1    0    0    1    0
2    0   0   0   1   1   0   1   1   0    0    0    1    1    0    0    1    0
3    0   0   1   1   1   1   1   1   1    0    0    1    1    0    1    1    0
4    0   0   0   1   0   0   1   1   0    0    0    1    1    0    0    1    1
5    0   0   0   1   0   1   1   1   1    0    1    1    1    0    0    1    0
6    0   0   1   0   1   1   1   1   1    1    0    1    1    0    1    0    0
7    1   1   1   1   1   1   1   1   1    1    1    1    1    1    1    1    1
8    1   0   1   0   1   1   1   1   0    1    0    1    1    0    1    0    0
9    1   1   1   1   1   0   1   1   0    1    0    1    1    0    0    1    1
10   0   0   1   1   0   0   0   1   1    0    1    0    1    0    0    0    1
11   1   0   1   1   1   0   1   1   0    1    0    1    1    0    0    0    1
12   0   0   1   0   1   0   0   1   0    0    1    1    1    0    0    1    0
13   0   0   1   1   0   1   1   1   1    1    0    1    1    1    0    0    1
14   1   0   0   1   1   0   1   1   1    1    1    1    1    0    0    1    1
15   1   0   0   1   0   0   0   1   1    0    0    1    0    0    0    0    0
16   1   1   1   1   1   0   1   1   1    1    1    1    1    1    1    1    1
17   0   0   1   0   1   0   0   1   1    1    0    1    1    1    0    1    1
18   0   0   1   1   1   0   0   0   0    1    0    0    1    0    0    0    0
19   1   1   1   1   0   0   0   0   0    1    0    0    0    0    0    0    1
20   0   0   0   0   0   0   1   1   1    0    0    0    1    0    0    1    1
21   0   1   1   1   1   1   1   1   1    1    0    1    1    1    0    1    1
22   0   1   1   1   1   1   1   1   1    0    0    1    1    1    0    1    1
23   1   1   1   1   1   0   1   1   0    0    0    0    1    1    1    0    0
24   0   0   1   1   1   1   0   1   1    1    1    1    1    0    1    0    1
25   1   1   1   1   0   0   0   1   1    1    1    0    0    0    1    0    0
26   0   0   1   1   0   1   1   0   0    0    0    0    1    0    0    0    0
27   0   0   0   0   1   0   0   0   0    0    0    1    0    1    0    0    0
28   0   0   1   1   0   0   0   1   0    1    0    0    0    0    0    0    0
29   0   0   1   1   0   1   1   1   1    1    0    1    0    1    0    1    0
30   0   0   0   1   1   0   1   1   0    0    0    1    1    0    0    0    0
31   1   1   1   1   1   0   1   1   0    0    0    0    1    0    0    0    0
32   1   0   1   1   1   0   1   1   1    1    0    1    1    0    0    0    0
33   1   1   1   1   1   1   1   1   1    1    1    1    1    1    1    0    0
34   1   0   1   1   1   0   1   1   1    1    1    1    1    0    0    1    1
35   0   0   1   1   0   1   1   1   1    1    0    1    1    1    0    1    0
36   1   0   1   1   0   0   0   1   1    0    0    0    1    0    0    1    1
37   0   0   1   0   1   0   1   1   1    0    1    1    1    0    0    1    0
38   1   0   1   1   0   0   1   1   1    0    0    1    1    0    0    0    0
39   0   0   1   1   0   1   1   1   1    0    1    0    0    1    1    0    0
40   0   0   1   0   0   1   0   1   0    0    0    0    0    0    0    0    0
41   0   0   0   1   1   0   1   1   1    1    0    0    1    0    0    0    0
42   1   0   1   1   1   1   1   1   0    1    1    1    1    0    1    1    0
43   0   0   1   1   0   1   1   1   1    1    1    1    1    0    1    1    0
44   1   0   1   1   1   1   1   1   1    1    0    1    1    0    0    0    1
45   0   0   1   1   0   1   1   1   1    1    0    1    1    1    0    1    0
46   1   0   1   1   1   1   0   1   1    1    1    1    1    1    1    1    1
47   1   0   1   1   0   0   0   0   0    1    1    0    1    0    0    0    0
48   0   0   0   1   0   0   0   1   1    0    0    1    1    0    0    1    0
49   0   0   1   1   1   1   0   1   1    0    1    0    1    0    1    0    1
50   0   0   1   1   1   1   1   1   0    1    1    1    1    0    0    0    1

In [22]:
df_sdg.to_excel('sdg_result.xlsx')

## 텍스트 전처리

In [23]:
import nltk
from nltk.tokenize import TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
import re

In [24]:
ceo=list(df['CEO Message'])
material=list(df['Materiality Assessment'])

In [25]:
print(len(ceo))
print(len(material))

51
51

In [26]:
pattern=re.compile(r'([\t\r()-.,:;!?`‘\'"�‧|%“])+')

In [27]:
stop_words=nltk.corpus.stopwords.words('english')
stop_words=list(set(stop_words).union(set(sklearn_stop_words)))
tokenizer=TreebankWordTokenizer()
lemma = WordNetLemmatizer()

In [28]:
remove_bracket=['[',']','step']
stop_words.extend(remove_bracket)
len(stop_words)

381

In [29]:
def prepro(text):
    a=text.lower()
    b=re.sub(pattern,'',a)
    b=re.sub(r'\[\[(?:[^\]|]*\|)?([^\]|]*)\]\]', '', b)
    c=re.sub('\n',' ',b)
    tagged_list = pos_tag(tokenizer.tokenize(c))
    ad_and_nouns = [t[0] for t in tagged_list if (t[1] == "NN")or(t[1]=="NNP") or(t[1]=='JJ')]
    e_list= [lemma.lemmatize(i) for i in ad_and_nouns]
    result=[w for w in e_list if w not in stop_words]
#     for w in e_list: 
#         if w not in stop_words: 
#             result.append(w)
    return result

In [30]:
ceo[0]

'Dear shareholders, customers, suppliers, and employees of Samsung Electronics, we thank you for your continuous support and interest in our company.\nIn 2020, the COVID-19 pandemic shook the world, fueling an unprec- edented public health crisis and prompting an economic slowdown as nations closed borders and implemented new safety measures to protect their populations. At the same time, the damaging effects of racial discrimination and a prevalent digital divide have become strikingly clear, while the importance of tackling climate change continues to grow.\nAgainst the backdrop of these unprecedented times, it is no surprise that consumer behavior has changed, with priorities shifting to focus on areas such as health, safety, and sustainability. Expectations also continue to grow on corporations for sustainable business practices and operations.\nAs a `sustainable, centennial company\', we need to grow together with society to ensure we create a lasting legacy for future genera- tions to come. We have worked hard at every level to help our various stakeholders, supporting local communities and employees overcome challenges and adapt to the new environment as we return to our daily lives in a post-pandemic world.\nWe provided financial support to suppliers struggling from the COVID-19 situation to help them stabilize their operations. We pro- vided medical staff and those particularly vulnerable to the crisis with medical and relief supplies as well as financial support. We con- tributed to accelerating COVID-19 testing and vaccine roll-outs by sharing our expertise and knowledge with small and medium-sized enterprises producing test kits and low dead space (LDS) syringes.\nIn addition, under the CSR vision of "Together for Tomorrow! Enabling People", we donated tools and equipment, such as tablet PCs, to support young students with their studies online, aiming to lessen the digital divide among students around the globe.\nThe pandemic has also served to remind us of the severe environ- mental issues we face. Notably, as the new climate regime has been implemented since 2021 in accordance with the Paris Agreement, the international community is now at a watershed moment in the fight against climate change.\nAs a responsible global company, we are engaged in numerous ini- tiatives to minimize our environmental footprint, from product development to production and, finally, disposal.\nAs part of our efforts to tackle climate change, we are proud to report that from 2020, all of our worksites in the United States, Europe, and China were 100% powered by renewable energy sources. We plan to build on this success by expanding our renewable energy use in other regions.\nMeanwhile, we continue to drive a circular economy through techno- logical innovations and the development of high-efficiency products with greater durability. Our new programs, such as Galaxy Upcycling and Eco-Package, encourage consumers to participate in efforts to build a sustainable future in their day to day lives.\nWe are deeply aware of the fact that compliance and integrity man- agement are at the foundation of sustainability management. We have updated our Global Anti-Corruption and Anti-Bribery Policy to cultivate a deeply rooted compliance culture, and work with the external Samsung Compliance Committee to strictly monitor and manage any compliance risks, throughout the company.\nThe unprecedented crisis has brought about rapid changes in the way people live their daily lives. Guided by our management philos- ophy which states, “we will devote our human resources and tech- nology to create superior products and services, thereby contribut- ing to a better global society,” and capitalizing on our technological advances and knowledge gained through many years of experience, we will continue to work with our stakeholders and society as a whole to allow a smooth and successful return to normalcy.\nThank you.'

In [31]:
prepro(ceo[0])

['dear',
 'samsung',
 'continuous',
 'support',
 'company',
 'covid19',
 'pandemic',
 'world',
 'unprec',
 'public',
 'health',
 'crisis',
 'economic',
 'slowdown',
 'new',
 'safety',
 'time',
 'damaging',
 'racial',
 'discrimination',
 'prevalent',
 'digital',
 'divide',
 'clear',
 'importance',
 'climate',
 'change',
 'backdrop',
 'unprecedented',
 'surprise',
 'consumer',
 'behavior',
 'health',
 'safety',
 'sustainability',
 'sustainable',
 'business',
 'sustainable',
 'centennial',
 'company',
 'society',
 'lasting',
 'legacy',
 'future',
 'genus',
 'level',
 'various',
 'local',
 'adapt',
 'new',
 'environment',
 'daily',
 'postpandemic',
 'world',
 'financial',
 'support',
 'covid19',
 'situation',
 'vided',
 'medical',
 'staff',
 'vulnerable',
 'crisis',
 'medical',
 'relief',
 'financial',
 'support',
 'covid19',
 'testing',
 'vaccine',
 'expertise',
 'knowledge',
 'small',
 'mediumsized',
 'test',
 'low',
 'dead',
 'space',
 'addition',
 'csr',
 'vision',
 'tomorrow',
 'equipment',
 'tablet',
 'pc',
 'young',
 'digital',
 'divide',
 'globe',
 'pandemic',
 'severe',
 'environ',
 'mental',
 'new',
 'climate',
 'regime',
 'accordance',
 'paris',
 'agreement',
 'international',
 'community',
 'watershed',
 'moment',
 'fight',
 'climate',
 'change',
 'responsible',
 'global',
 'company',
 'numerous',
 'ini',
 'environmental',
 'footprint',
 'product',
 'development',
 'production',
 'climate',
 'change',
 'proud',
 'united',
 'renewable',
 'energy',
 'success',
 'renewable',
 'energy',
 'use',
 'circular',
 'economy',
 'techno',
 'logical',
 'development',
 'highefficiency',
 'durability',
 'new',
 'galaxy',
 'upcycling',
 'ecopackage',
 'encourage',
 'sustainable',
 'future',
 'day',
 'day',
 'aware',
 'fact',
 'compliance',
 'integrity',
 'man',
 'agement',
 'foundation',
 'sustainability',
 'management',
 'global',
 'anticorruption',
 'antibribery',
 'policy',
 'deeply',
 'compliance',
 'culture',
 'work',
 'external',
 'samsung',
 'compliance',
 'committee',
 'compliance',
 'company',
 'unprecedented',
 'crisis',
 'rapid',
 'way',
 'daily',
 'management',
 'philos',
 'ophy',
 'human',
 'tech',
 'nology',
 'superior',
 'global',
 'society”',
 'technological',
 'knowledge',
 'experience',
 'society',
 'smooth',
 'successful',
 'return',
 'thank']

In [32]:
ceo_list=[' '. join(prepro(i)) for i in ceo]
ceo_list[:2]

['dear samsung continuous support company covid19 pandemic world unprec public health crisis economic slowdown new safety time damaging racial discrimination prevalent digital divide clear importance climate change backdrop unprecedented surprise consumer behavior health safety sustainability sustainable business sustainable centennial company society lasting legacy future genus level various local adapt new environment daily postpandemic world financial support covid19 situation vided medical staff vulnerable crisis medical relief financial support covid19 testing vaccine expertise knowledge small mediumsized test low dead space addition csr vision tomorrow equipment tablet pc young digital divide globe pandemic severe environ mental new climate regime accordance paris agreement international community watershed moment fight climate change responsible global company numerous ini environmental footprint product development production climate change proud united renewable energy success renewable energy use circular economy techno logical development highefficiency durability new galaxy upcycling ecopackage encourage sustainable future day day aware fact compliance integrity man agement foundation sustainability management global anticorruption antibribery policy deeply compliance culture work external samsung compliance committee compliance company unprecedented crisis rapid way daily management philos ophy human tech nology superior global society” technological knowledge experience society smooth successful return thank',
 'worldwide covid19 pandemic hope disruptive market landscape sk hynix meaningful progress business krw profit sustained development advanced flexible response customer demand groundwork future deal intel’s nand flash memory unit new stateoftheart m16 fabrication plant dedicated space euvextreme ultra violet equipment advanced pollution reduction semiconductor cluster city yongin foundation sustained growth january social value midlongterm plan maximum value net zero semiconductor ecosystem building social safety net corporate culture diversity inclusion fundamental semiconductor business financial sk hynix performance environmental social governanceesg business major sk corporate group hynix social value prior year indirect economic contribution’ social contribution’ social contribution philanthropic global tech leadership new cooperation global ict technological business semiconductor true pathfinder way confidence era digital transformation furthermore effort trust local sustainable value financial continued support journey thank prior year’s covid19 crisis daily life business employee safety building social safety natural environment various nonfinancial imperative sustainability business wider role social responsibility sk hynix trend management double linedbl performance social valuesv economic valueev sustained effort happiness year esg management systematic approach social value creation mean sustainability environmental social governance perspective business company new center endeavor technology provider cuttingedge era ai digital transformation sk hynix technology humanity addition customers’ demand environmental footprint carbon continuous research innovation manufacturing process standard furthermore role board transparency fairness management healthy semiconductor ecosystem mutual trust new approach substantial time investment path time continued growth detailed sustainability unwavering support crucial new transformation thank']

In [33]:
material_list=[' '. join(prepro(j)) for j in material]
material_list[:2]

['sustainability business needed progress transparent manner sustainability report relevant global sustainability management expert comprehensive anal ysis level impact economic social environmental business impact samsung reputation meaningful relevant material materiality assessment matrix material internal external expert review pool relevant global sdgs tcfd gri sasb sustainability material issue sustainability management relevant company sustainability analysis stakeholder business impact economic social environ mental impact local industry orga industry government business impact ass impact samsung review company’s senior manage ment corporate sustainability center review external sustainability materiality assessment material compliance corporate governance climate change strategy energy management circular economy chemical management local community development corporate citizenship stakeholder engagement responsible use technology accessibility diversity inclusion occupational health safety labor human responsible supplier labor major section company compliance company corporate governance environment digital responsibility sustainable supply chain community development corporate citizenship labor supply chain ehs supply chain occupational health safety compliance labor human responsible climate corporate change governance strategy diversity inclusion privacy security sustainable collaboration transparent information disclosure biodiversity resource management stakeholder engagement accessibility water technology human development welfare customer health safety freedom expression circular economy chemical energy management management responsible use air pollutant management waste management responsible marketing customer relationship management climate change adaption competitive behavior product safety quality business impact independence corporate compliance team ceo reorganization independent expert group compliance committee operation business independent director chairman board renewable energy use high energyefficient product development sustainable designing easy waste education program youth future technology creative prob assistance small medium smart factory technology growth venture accessibility product development ai policy company employee education labor human company’s vision diversity work environment inspection ehs improvement',
 'sk hynix pool esg likely impact analysis sustainability report material related materiality assessment process materiality low mid response area middle strategic response area high high key response area health safety issue hazardous waste anticorruption raw conflict energy consumption labormanagement relationship nondiscrimination responsible supply chain community engagement impact air resource use scarcity technological competitiveness valuation transparency bod shareholder environmental impact reduction technology talent attraction retention water usage wastewater product quality safety response change technology new growth innovative compliance issue pool configuration likelihood analysis impact analysis material issue selection esg issue pool material company status analysis environmental analysismedia benchmarking potential internal external company internal response level stakeholder awareness impact evaluation corporate value evaluation industry stakeholder awareness material issue selection analysis likelihood xaxis impactyaxis issue']

In [34]:
df['after_ceo']=ceo_list

<ipython-input-34-62a208a80436>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['after_ceo']=ceo_list

In [35]:
df['after_material']=material_list

<ipython-input-35-3703cf6c13d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['after_material']=material_list

In [36]:
df.head()

,종목명,CEO Message,Materiality Assessment,SDGs,after_ceo,after_material
1,삼성전자,"Dear shareholders, customers, suppliers, and e...",We identify sustainability issues that impact ...,"3,4,5,6,7,8,9,10,12,13,15,17",dear samsung continuous support company covid1...,sustainability business needed progress transp...
2,SK하이닉스,Even amidst the worldwide COVID-19 pandemic i...,SK hynix has identified a pool of ESG issues t...,"1,3,4,5,6,7,8,9,10,11,12,13,16",worldwide covid19 pandemic hope disruptive mar...,sk hynix pool esg likely impact analysis susta...
3,NAVER,"Greetings,\nI am Seong-sook Han, the President...",Materiality Matrix\nTier 3 General issues\nTie...,"4,5,7,8,12,13,16",seongsook president ceo naver corporation face...,materiality matrix tier general key material b...
4,삼성바이오로직스,"Dear fellow stakeholders, I would like to expr...",Samsung Biologics evaluated each issue based o...,"3,4,5,6,7,8,9,12,13,15,16",dear fellow gratitude unwavering confidence su...,samsung issue business relevance stakeholder i...
6,카카오,I would like to extend my heartfelt\ngratitude...,In publishing our first-ever Commitment and Re...,"4,7,8,12,13,16,17",heartfelt gratitude support journey kakao worl...,firstever commitment responsibility report yea...

In [37]:
df.to_excel('after_cleansing.xlsx')