In [1]:
import nltk
#Data Preprocessing Package
import re
import numpy as np
import pandas as pd
import os
import nltk
from nltk.tokenize import TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
import re
import nltk
#from nltk.tokenize import TreebankWordTokenizer
from nltk.tokenize import WordPunctTokenizer 
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
import re
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words
from nltk.tag import pos_tag
lemma = WordNetLemmatizer()

In [2]:
df=pd.DataFrame(columns=['filelist','rawdata'])

In [3]:
directory = './Data/subtext/'
filelist = os.listdir(directory)
df['filelist']=filelist

In [4]:
for i in range(len(df)):
    j = df['filelist'][i]
    filename = directory + j
    f=open(filename, 'r', encoding='utf-8')
    txt = f.read()
    f.close()
    df['rawdata'][i] = txt

df

,filelist,rawdata
0,1.samsung_electronic2021.txt,Samsung Electronics Sustainability Report 2021...
1,101.Hyosung_Advanced_Materials_2020.txt,Sustainability\n\nwith Stakeholders\n2020 Hyos...
2,103.meritz securities.txt,2019 SUSTAINABILITY REPORT \nMORE \nTHAN JUST...
3,106.OCI.txt,INTEGRATED REPORT 2020 \nTRANSFORMING OPPORTU...
4,107.skchemical.txt,2020 SK chemicals Sustainability Report\nWe Ca...
...,...,...
92,9.hmc-2021.txt,Road to \nSustainability 2021 Sustainability R...
93,90.samsung_heavy.txt,SAMSUNG HEAVY INDUSTRIES SUSTAINABILITY REPOR...
94,92.gs_e_c.txt,Grow with \nGreen Sustainability GS E&C Integ...
95,94.cj_logistics.txt,ABOUT THIS REPORT\nSummary \nCJ Logistics has ...
96,99.hanmipharm.txt,02 Introduction · Contents 03 2020-21 CSR Repo...

In [5]:
df['filein']=df.filelist

for i in range(len(df)):
    df.filein[i] = df.filein[i][:3]
    df.filein[i] = re.sub('[.]','',df.filein[i])
    df.filein[i] = re.sub('[A-z]','',df.filein[i])
df

,filelist,rawdata,filein
0,1.samsung_electronic2021.txt,Samsung Electronics Sustainability Report 2021...,1
1,101.Hyosung_Advanced_Materials_2020.txt,Sustainability\n\nwith Stakeholders\n2020 Hyos...,101
2,103.meritz securities.txt,2019 SUSTAINABILITY REPORT \nMORE \nTHAN JUST...,103
3,106.OCI.txt,INTEGRATED REPORT 2020 \nTRANSFORMING OPPORTU...,106
4,107.skchemical.txt,2020 SK chemicals Sustainability Report\nWe Ca...,107
...,...,...,...
92,9.hmc-2021.txt,Road to \nSustainability 2021 Sustainability R...,9
93,90.samsung_heavy.txt,SAMSUNG HEAVY INDUSTRIES SUSTAINABILITY REPOR...,90
94,92.gs_e_c.txt,Grow with \nGreen Sustainability GS E&C Integ...,92
95,94.cj_logistics.txt,ABOUT THIS REPORT\nSummary \nCJ Logistics has ...,94
96,99.hanmipharm.txt,02 Introduction · Contents 03 2020-21 CSR Repo...,99

In [6]:
for i in range(len(df)):
    if len(df.filein[i]) == 1 :
        df.filein[i] = '00' + df.filein[i]
    if len(df.filein[i]) == 2 :
        df.filein[i] = '0' + df.filein[i]  
df =df.sort_values('filein')
df

,filelist,rawdata,filein
0,1.samsung_electronic2021.txt,Samsung Electronics Sustainability Report 2021...,001
35,2.sk_hynix2021.txt,We Do Technology SK hynix Sustainability Repor...,002
48,3.NAVER_2020.txt,@@@\nEmbracing \nSustainability for Growth\n...,003
62,4.Samsung_Biologics_2021.txt,@@@\nSustainability Report \n2021\nAbout Thi...,004
77,6.KAKAO_2020.txt,2020 \nKakao's \nCommitment and Responsibilit...,006
...,...,...,...
45,274.HyundaiElectric.txt,HYUNDAI 2021 ELECTRIC & \nENERGY SYSTEMS \nIN...,274
47,291.NEXENTIRE.txt,2020/21 NEXEN TIRE ESG REPORT\nNext Level Mobi...,291
51,310.Pulmuone.txt,Pulmuone \nIntegrated Report \nAbout this Repo...,310
55,341_sknetworks.txt,SK NETWORKS SUSTAINABILITY REPORT 2019 \nWE NE...,341
57,359_Halla Holdings.txt,2020 \nHalla Holdings Sustainability Report\nR...,359

In [7]:
df= df.set_index('filein')
df= df.set_index('filelist')
df.head()

                                                                        rawdata
filelist
1.samsung_electronic2021.txt  Samsung Electronics Sustainability Report 2021...
2.sk_hynix2021.txt            We Do Technology SK hynix Sustainability Repor...
3.NAVER_2020.txt              @@@\nEmbracing  \nSustainability for  Growth\n...
4.Samsung_Biologics_2021.txt  @@@\nSustainability  Report  \n2021\nAbout Thi...
6.KAKAO_2020.txt              2020 \nKakao's \nCommitment and  Responsibilit...

In [8]:
sub=[]
tmp_num=[]
for i in df.rawdata : 
    sub.extend(i.split('@@@'))
    tmp_num.append(len(i.split('@@@')))

In [9]:
print(len(sub))
print(len(tmp_num))

2145
97

In [10]:
tmp_num[:5]

[49, 23, 15, 27, 14]

In [11]:
df['split_num']=tmp_num
df.head()

,rawdata,split_num
filelist,,
1.samsung_electronic2021.txt,Samsung Electronics Sustainability Report 2021...,49
2.sk_hynix2021.txt,We Do Technology SK hynix Sustainability Repor...,23
3.NAVER_2020.txt,@@@\nEmbracing \nSustainability for Growth\n...,15
4.Samsung_Biologics_2021.txt,@@@\nSustainability Report \n2021\nAbout Thi...,27
6.KAKAO_2020.txt,2020 \nKakao's \nCommitment and Responsibilit...,14

In [12]:
filelist=df.index
nums=df['split_num']

In [13]:

high_index=[]
low_index=[]
for i, k in zip(filelist, nums):
    for j in range(k):
        high_index.append(i)
        low_index.append(j)

In [14]:
print(len(high_index))
print(len(low_index))

2145
2145

In [15]:
new_df=pd.DataFrame(data=sub, index= [high_index, low_index], columns=['new_split'])

In [16]:
new_df.head()

                                                                        new_split
1.samsung_electronic2021.txt 0  Samsung Electronics Sustainability Report 2021...
                             1   \nOur Company \nCEO’s Message 2 Company Overv...
                             2   \nCEO’s Message \nSamsung Electronics Co., Lt...
                             3   \nCompany Overview \nOur goal is to devote ou...
                             4  \nSamsung Electronics Worldwide \nAt the end o...

In [17]:
len(new_df)

2145

In [18]:
new_df.to_excel('after_split.xlsx',engine='xlsxwriter')

# 'IllegalCharacterError'가 발생해서, pip install xlsxwriter 설치 후 옵션을 추가 함